@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.header {
  width: 100%;
  background-size: cover;
}

.home-header {
  background-image: url("/assets/images/header-img.png");
}

.about-header {
  background-image: url("/assets/images/about-img.png");
}

.contacts-header {
  background-image: url("/assets/images/contacts-img.png");
}

.contact-img {
  background-image: url("/assets/images/tutorials-page-contact-img.png");
}
