@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  width: 100%;
  background-size: cover;
}

.home-header {
  background-image: url("/assets/images/header-img.avif");
}

.about-header {
  background-image: url("/assets/images/about-img.avif");
}

.contacts-header {
  background-image: url("/assets/images/contacts-img.avif");
}